extends base

block cssLinks
  each cssFileName in cssFileNames
    link(rel='stylesheet', href=staticUrl + '/' + cssFileName)

block content
  script.
    var MODULES = !{modules};
    var LANGUAGE_NAMES = !{languageNames};
    var USER = !{user};

block jsLinksBody
  each jsFileName in jsFileNames
    script(src=staticUrl + '/' + jsFileName)
